<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MovieDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\PerkinsD\documents\visual studio 2015\Projects\MoviesApp\MoviesApp.DataTier\App_Data\MovieDB.mdf';Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>